<ion-view view-title="My Portfolio">
  <ion-content>


    <label class="item" style="border-top-width: 0px;">
      <button class="button button-block button-royal" ng-click="saveArtistProfile(picFile)">Upload Portfolio</button>
    </label>

    <div class="item item-divider">
      My Portfolio (<b>4</b>)
    </div>

    <div class="row">
      <div class="col"><img src="img/portfolio/a.jpg" alt="" style="width: 100%;"></div>
      <div class="col"><img src="img/portfolio/b.jpg" alt="" style="width: 100%;"></div>
      <div class="col"><img src="img/portfolio/c.jpg" alt="" style="width: 100%;"></div>
      <div class="col"><img src="img/portfolio/d.jpg" alt="" style="width: 100%;"></div>
    </div>

  </ion-content>
</ion-view>
