<ion-view view-title="My Portfolio">
  <ion-content>


    <label class="item" style="border-top-width: 0px;">
      <button class="button button-block button-royal" ng-click="showUploadOption()">Upload Portfolio</button>
    </label>

    <div class="item item-divider">
      My Portfolio (<b>{{artistPortfolio.length}}</b>)
    </div>

    <div ng-if="isLoading" style="text-align: center; padding-top: 50%;">
      <ion-spinner icon="spiral"></ion-spinner><br>
      <span>Loading Pictures...</span>
    </div>

    <div class="row" ng-repeat="image in artistPortfolio" ng-if="$index % 3 === 0">
      <div class="col col-33" ng-if="$index < artistPortfolio.length">
        <img ng-click="viewPortfolio(artistPortfolio[$index])" ng-src="{{artistPortfolio[$index].attributes.imagePath}}" spinkit-image-preloader='chasing-dots-spinner' width="100%" class="animate-show" fade-in/>
      </div>
      <div class="col col-33" ng-if="$index + 1 < artistPortfolio.length">
        <img ng-click="viewPortfolio(artistPortfolio[$index + 1])"ng-src="{{artistPortfolio[$index + 1].attributes.imagePath}}" spinkit-image-preloader='chasing-dots-spinner' width="100%" class="animate-show" fade-in/>
      </div>
      <div class="col col-33" ng-if="$index + 2 < artistPortfolio.length">
        <img ng-click="viewPortfolio(artistPortfolio[$index + 2])" ng-src="{{artistPortfolio[$index + 2].attributes.imagePath}}" spinkit-image-preloader='chasing-dots-spinner' width="100%" class="animate-show" fade-in/>
      </div>
    </div>
  </ion-content>
</ion-view>
