<ion-view view-title="My Appointments">
  <ion-content>

    <!-- <label class="item" style="border-top-width: 0px; border-top-width: 0px; border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #444;"> -->
    <div style="font-size: 17px; text-align: center; background: white; border-bottom: 0px;" class="item item-divider">
      <a class="button button-block button-royal" href="#/tab/manage-schedule-calendar">View Calendar Schedules</a>
    </div>
    <!-- </label> -->

    <div class="card">
      <div class="list">

        <a class="item item-button-right" ng-repeat="pendingAppointment in appointments.pending | orderBy: '-attributes.updatedAt'">
          {{pendingAppointment.attributes.customerInfo.firstName}} {{pendingAppointment.attributes.customerInfo.lastName}} <br>
          <!-- <p>{{pendingAppointment.attributes.createdAt.toString() | limitTo:21}}</p> -->
          <span am-time-ago="pendingAppointment.attributes.createdAt" style="font-size: 11px;"></span>
          <button class="button button-positive" ng-click="showBookingAlert(pendingAppointment, 'Accept')">
            View
          </button>
        </a>

      </div>

      <div style="background: #ffc900; color: white;" class="item item-divider text-center">
        Pending
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
      </div>
      <a class="item item-button-right" ng-repeat="acceptedAppointment in appointments.accepted | orderBy: '-attributes.updatedAt'">
        {{acceptedAppointment.attributes.customerInfo.firstName}} {{acceptedAppointment.attributes.customerInfo.lastName}}<br>
        <span am-time-ago="acceptedAppointment.attributes.updatedAt" style="font-size: 11px;"></span>
        <button class="button button-positive" ng-click="showBookingAlert(acceptedAppointment, 'Complete', 'button-balanced')">
          View
        </button>
      </a>
      <div style="background: #387ef5; color: white;" class="item item-divider text-center">
        Accepted
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
      </div>
      <a class="item item-button-right" ng-repeat="completedAppointment in appointments.completed | orderBy: '-attributes.updatedAt'">
        {{completedAppointment.attributes.customerInfo.firstName}} {{completedAppointment.attributes.customerInfo.lastName}}<br>
        <span am-time-ago="completedAppointment.attributes.updatedAt" style="font-size: 11px;"></span>
        <button class="button button-balanced" ng-click="restoreAppointment(completedAppointment, true)">
          Restore
        </button>
        <!-- <span class="item-note">
          {{completedAppointment.attributes.customerInfo.dateCompleted}}
        </span> -->
      </a>
      <div style="background: #33cd5f; color: white;" class="item item-divider text-center">
        Completed
      </div>
    </div>

    <div class="card">
      <a class="item item-button-right" ng-repeat="canceledAppointment in appointments.canceled | orderBy: '-attributes.updatedAt'">
        {{canceledAppointment.attributes.customerInfo.firstName}} {{canceledAppointment.attributes.customerInfo.lastName}}<br>
        <span am-time-ago="canceledAppointment.attributes.updatedAt" style="font-size: 11px;"></span>
        <button class="button button-assertive" ng-click="restoreAppointment(canceledAppointment)">
          Restore
        </button>
      </a>
      <div style="background: #ef473a; color: white;" class="item item-divider text-center">
        Canceled
      </div>
    </div>

  </ion-content>
</ion-view>
