<ion-view view-title="My Portfolio">
  <ion-content>

    <label class="item" style="border-top-width: 0px;">
      <button class="button button-block button-royal" ng-click="addService()">Add New Service</button>
    </label>


    <div class="item item-divider">
      My Services (<b>{{artistServices.length}}</b>)
    </div>

    <div class="card" ng-repeat="service in artistServices">
      <div style="height: 50px;" class="item item-divider item-button-right">
        {{service.attributes.name}}
        <button class="button button-positive" ng-click="editService(service)">
          <i class="icon ion-edit"></i>
        </button>
      </div>
      <div class="item item-text-wrap">
        {{service.attributes.description}}
      </div>
      <div class="item item-divider">
        <div class="row" style="padding-left: 0px;">
          <div class="col">
            <span><b>Duration</b>: {{service.attributes.duration}} mins</span>
          </div>
          <div class="col">
            <span class="text-right"><b>Price</b>: P{{service.attributes.price}}</span>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
