<ion-view view-title="My Portfolio">
  <ion-content>

    <label class="item" style="border-top-width: 0px;">
      <button class="button button-block button-royal" ng-click="addService()">Add New Service</button>
    </label>

    <div ng-if="isLoading" style="text-align: center; padding-top: 50%;">
      <ion-spinner icon="spiral"></ion-spinner><br>
      <span>Loading Services...</span>
    </div>

    <!-- <div class="item item-divider">
      My Services (<b>{{artistServices.length}}</b>)
    </div> -->

    <div class="card" ng-repeat="service in artistServices">
      <div style="height: 50px;" class="item item-divider item-button-right">
        {{service.attributes.name}}
        <button class="button button-positive" ng-click="editService(service)">
          <i class="icon ion-edit"></i>
        </button>
      </div>
      <div class="item item-text-wrap">
        {{service.attributes.description}}
        <div class="row" style="padding-left: 3%; padding-right: 3%;">
          <div class="col"><img ng-src="{{service.attributes.servicePhotos[0].path}}" alt="" style="width: 100%;" ng-click="viewServicePhoto(service.attributes.servicePhotos[0].path, null)" class="animate-show" fade-in></div>
          <div class="col"><img ng-src="{{service.attributes.servicePhotos[1].path}}" alt="" style="width: 100%;" ng-click="viewServicePhoto(service.attributes.servicePhotos[1].path, null)" class="animate-show" fade-in></div>
          <div class="col"><img ng-src="{{service.attributes.servicePhotos[2].path}}" alt="" style="width: 100%;" ng-click="viewServicePhoto(service.attributes.servicePhotos[2].path, null)" class="animate-show" fade-in></div>
          <div class="col"><img ng-src="{{service.attributes.servicePhotos[3].path}}" alt="" style="width: 100%;" ng-click="viewServicePhoto(service.attributes.servicePhotos[3].path, null)" class="animate-show" fade-in></div>
          <div class="col"><img ng-src="{{service.attributes.servicePhotos[4].path}}" alt="" style="width: 100%;" ng-click="viewServicePhoto(service.attributes.servicePhotos[4].path, null)" class="animate-show" fade-in></div>
        </div>
      </div>
      <div class="item item-divider">
        <div class="row" style="padding-left: 0px;">
          <div class="col">
            <span><b>Duration</b>: {{service.attributes.duration}} mins</span>
          </div>
          <div class="col text-right">
            <span><b>Price</b>: P{{service.attributes.price}}</span>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
