<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">
        <i class="icon ion-ios-book"></i>
        <a href="#/tab/manage-appointments">Appointments</a>
      </div>
      <div class="item">
        <div class="row">
          <div class="col  text-center">

              <b><h1 class="energized">3</h1></b>
              <b>Pending</b>


          </div>
          <div class="col text-center">
              <b><h1 class="positive">7</h1></b>
              <b>Accepted</b>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="row">
            <div class="col  text-center">

              <b><h1 class="balanced">30</h1></b>
              <b>Completed</b>


            </div>
            <div class="col text-center">
              <b><h1 class="assertive" >4</h1></b>
              <b>Canceled</b>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        <i class="icon ion-ios-chatboxes"></i>
        Inbox
      </div>
      <a href="#/tab/chats" class="item item-icon-left">
        <i style="font-size: 45px;" class="icon ion-email-unread assertive"></i>
        <b> 5</b> New Messages
      </a>
    </div>

    <div class="list card">
      <div class="item item-divider">
        <i class="icon ion-ios-compose"></i>
        Reviews
      </div>
      <a href="#" class="item">
        <b>5</b> New Reviews
      </a>
    </div>

    <div class="list card">
      <div class="item item-divider">
        <i class="icon ion-android-notifications"></i>
        Notifications
      </div>

      <a href="#" class="item">

        <b>11</b> New Notifications
      </a>
    </div>
  </ion-content>
</ion-view>
