<ion-view view-title="Profile Settings">
  <ion-content>
      <div ng-if="!isLoading" class="item" style="text-align: center; background: white; padding-top: 15px;">
          <img ng-src="{{profile.avatar || placeholder}}" ng-click="showUploadOption()" style="width: 100px; border-radius: 50%; max-width: 100px; max-height: 100px; border-width: 3px; border-style: solid; border-color: goldenrod;" class="blush-avatar">
          <h2>{{profile.firstName}} {{profile.lastName}}</h2>
          <p>{{profile.serviceType}}</p>
      </div>
      <div ng-if="isLoading" style="text-align: center; padding-top: 25%;">
        <ion-spinner icon="spiral"></ion-spinner><br>
        <span>Loading Account Information...</span>
      </div>

      <div class="list" ng-if="!isLoading">
        <div class="item item-divider">
          Personal Info
        </div>
        <label class="item item-input item-floating-label">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="First Name" ng-model="profile.firstName">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Last Name" ng-model="profile.lastName">
        </label>

        <label class="item item-input item-select">
          <span class="input-label">Gender</span>
          <select ng-model="profile.gender">
            <option value="female">Female</option>
            <option value="male">Male</option>
          </select>
        </label>

        <div class="item" ion-datetime-picker date ng-model="profile.birthDate">
          <span class="input-label">Birthdate</span>
          <strong>{{profile.birthDate| date: "yyyy-MM-dd"}}</strong>
        </div>


        <div class="item item-divider">
          Contact Information
        </div>

        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email" ng-model="profile.email">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Contact Number</span>
          <input type="text" placeholder="Contact Number" ng-model="profile.contactNumber">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Address</span>
          <input type="text" placeholder="Address" ng-model="profile.address">
        </label>

        <div class="item item-divider">
          Services
        </div>
        <label class="item item-input item-select">
          <span class="input-label">Service Type</span>
          <select ng-model="profile.serviceType">
            <option value="Makeup Artist">Makeup Artist</option>
            <option value="Hair Stylist">Hair Stylist</option>
          </select>
        </label>

        <div class="item item-divider">
          About Yourself
        </div>
        <label class="item" style="padding-left: 3%; padding-right: 3%;">
          <textarea ng-model="profile.aboutArtist" name="" id="" cols="30" rows="5" style="box-sizing: border-box; border-color: gray; width:100%; border-width: 1px; border-style: solid; padding: 5px;" ng-model="rating.review" placeholder="Showcase yourself to the customers, by specifying what your services is all about.">
          </textarea>
        </label>


        <div class="item item-divider">
          Account Credentials
        </div>

        <label class="item">
          <button class="button button-block button-small button-balanced" ng-click="changePassword()">Change My Password</button>
        </label>

        <div class="row" style="border-top-width: 2px; border-top-color: #444; border-top-style: dashed;">
          <div class="col-50">
            <label class="item">
              <button class="button button-block button-positive" ng-click="updateProfile()">Save</button>
            </label>
          </div>
          <div class="col-50">
            <label class="item">
              <button class="button button-block button-assertive" ng-click="doLogout()">Logout</button>
            </label>
          </div>
        </div>

      </div>
  </ion-content>
</ion-view>
